main {
  background-color: #f7f7f7;
  height: 100vh;
  font-family: 'Rubik';

  #kurs-image {
    height: 100%;
    background-blend-mode: color;
    background-color: rgba(0, 0, 0, 0.6); /* Adjust the fourth value (alpha) to control the transparency */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
  }

  h1 {
    font-family: 'Rubik';
    font-size: 2rem;
    text-align: center;
    padding: 2rem;
  }

  #sort-kurs {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-family: 'Rubik';
    width: 50%;
    margin: auto;

    li {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .kurser-id {
    position: relative;
    
    p {
      font-family: 'Rubik';
      position: absolute;
      bottom: 1.5rem;
      left: 1.5rem;
    }

    h2 {
      font-family: 'Rubik';
      font-size: 1.8rem;
      padding: 1.5rem;
    }
  }
  
  .kurs-detaljer {
    margin: auto;
    width: 50%;
    
    ul {
      font-size: 1.2rem;
      
      li {
        margin-top: 1rem;
      }

      li:nth-child(1) {
        font-size: 2rem;
        margin-bottom: 2rem;
      }
    }

    #boka-btn {
      display: block;
      padding: 0.5rem;
      margin-top: 2rem;
      width: 40%;
    }
  }
}

#kurser-galleri {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    justify-content: space-around;
    gap: 1rem;
    background-color: #f7f7f7;
    padding: 2rem;

    div {
        height: 300px;
        min-width: 300px;
        background-color: white;
    }
}


@media (min-width: 768px) {
    #kurser-galleri {
      grid-template-columns: repeat(2, 1fr);
    }
}
  
  @media (min-width: 1200px) {
    #kurser-galleri {
      grid-template-columns: repeat(3, 1fr);
    }
}